langgraph
langchain
langchain_google_genai==2.1.4
python-dotenv
pandas
requests
duckduckgo-search
spacy
weaviate-client
sentence-transformers
torch
fuzzywuzzy
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl
weaviate-client==4.12.0
